name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract N8N version from Dockerfile
        id: get_version
        run: |
          VERSION=$(grep "ARG N8N_VERSION=" Dockerfile | cut -d'=' -f2)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            rodcloud/n8n-ffmpeg:latest
            rodcloud/n8n-ffmpeg:${{ steps.get_version.outputs.version }}
          cache-from: type=registry,ref=rodcloud/n8n-ffmpeg:latest
          cache-to: type=inline
